html {
  background-color: #000;
}

body {
  background-color: #FFFFFF; /* Nero pieno per contrasto massimo */
  color: #000000;
}

.navbar {
  background-color: #000000; 
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand, .nav-link {
  color: #FFFFFF !important; /* Giallo di palette */
}

.nav-link:hover {
  color: #FCE000 !important;
}

.custom-container {
  background-color: #1A1A1A;
  height: calc(90vh - 70px);
  width: 100%;
}

.custom-wrapper {
  width: 70%;
  height: 60%;
  max-width: 1000px;
  margin-top: 2%;
  font-family: 'Montserrat', sans-serif;
}

/* Media query per schermi più larghi (fino a 992px) */
@media (max-width: 992px) {
  .custom-container {  /* Riduce la larghezza al 85% su schermi medi */
    height: 80%;  /* Imposta l'altezza al 55% */
  }
}

/* Media query per schermi più piccoli (fino a 768px) */
@media (max-width: 768px) {
  .custom-container {  /* Riduce la larghezza al 95% su schermi di tablet */
    height: calc(90vh - 40px);  /* Imposta l'altezza al 50% */
  }
}

/* Media query per schermi ancora più piccoli (fino a 480px) */
@media (max-width: 480px) {
  .custom-container { /* Imposta la larghezza al 100% su dispositivi mobili */
    height: calc(70vh - 30px);  /* Imposta l'altezza al 45% */
  }

  /* Modifica la dimensione del testo nel custom-container */
  .custom-container .lead {
      font-size: 1rem;  /* Riduce la dimensione del testo per dispositivi piccoli */
  }

  /* Modifica le dimensioni delle immagini nel custom-container */
  .custom-container img {
      width: 90px;  /* Limita la larghezza dell'immagine a 110px su dispositivi piccoli */
  }
}


.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.fade-in[style*="animation-delay"] {
  animation-delay: inherit;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

@media (max-width: 992px) {
  .video-wrapper {
      width: 75%;
      height: 70%;
      margin-top: 5%;
  }
}

@media (max-width: 768px) {
  .video-wrapper {
      width: 85%;
      height: 70%;
  }
}

@media (max-width: 480px) {
  .video-wrapper {
      width: 80%;
      height: 55%;
  }

  .video-wrapper .lead {
      font-size: 1rem;
  }

  .video-wrapper img {
      max-width: 80px;
  }
}

.angled-box-main {
  color: #FFFFFF;
  padding: 2rem;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  max-width: 900px;
  clip-path: polygon(0% 20%, 100% 20%, 90% 80%, 0% 80%);
}

.angled-box-main-inverted {
  color: #FFFFFF;
  padding: 2rem;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  max-width: 900px;
  clip-path: polygon(100% 20%, 0% 20%, 10% 80%, 100% 80%);
}

.angled-box-right {
  padding: 0.5rem 1rem;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  width: 80%;
  margin: 0; 
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.angled-box-left {
  padding: 0.5rem 1rem;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  width: 80%;
  margin-left: 21%;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.custom-p {
  font-family: 'Montserrat';
  font-size: 13pt;
  margin-left: 2%;
}

.big-number h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin: 0;
}

/* Pulsante personalizzato */
.btn-custom {
  background-color: #FCE000;            /* Inversione colori al passaggio */
  color: #000000;            /* Bordo giallo acceso */                      /* Testo giallo */
  font-family: 'Anton', sans-serif;     /* Font coerente con headings */
  text-transform: uppercase;            /* Stile sportivo/forte */
  padding: 0.6rem 1.2rem;               /* Pulsante robusto */
  font-size: 1rem;                      /* Dimensione leggibile */
  letter-spacing: 0.5px;                /* Un po' di spazio tra lettere */
  transition: all 0.3s ease;
  border-radius: 0;                     /* Coerenza con le forme spigolose */
}

@media (max-width: 576px) {
  .btn-custom {
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
  }
}

.btn-custom:hover {
  background-color: #000000;    
  color: #FCE000;         /* Sfondo nero */
  border: 2px solid #FCE000;                        /* Testo nero */
  transform: scale(1.05);               /* Leggera animazione */
  box-shadow: 0 0 10px #FCE000;         /* Glow coerente con il giallo */
}

.btn-custom-inverse {
  background-color: #000000;            /* Sfondo nero */
  color: #FCE000;                       /* Testo giallo */
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  border-radius: 0;
  border: 2px solid #000000;
}

@media (max-width: 576px) {
  .btn-custom-inverse {
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
  }
}

.btn-custom-inverse:hover {
  background-color: #FCE000;           /* Sfondo giallo */
  color: #000000;                      /* Testo nero */
  border: 2px solid #FCE000;
  transform: scale(1.05);
  box-shadow: 0 0 10px #000000;
}


.responsive-gap-margin {
  gap: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 992px) { /* md */
  .responsive-gap-margin {
    gap: 2.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media (max-width: 768px) { /* sm */
  .responsive-gap-margin {
    gap: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
}

@media (max-width: 576px) { /* xs */
  .responsive-gap-margin {
    gap: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 400px) { /* xs */
  .responsive-gap-margin {
    gap: 7%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* Titolo dinamico */
.custom-heading {
  font-size: 2.4rem;
  font-style: italic;
}

@media (max-width: 1024px) {
  .custom-heading {
    font-size: 2rem; /* tablet e sotto */
  }
}

@media (max-width: 576px) {
  .custom-heading {
    font-size: 1.3rem; /* smartphone */
  }
}

.sponsor-card {
  transition: transform 0.3s ease;
}

.sponsor-card:hover,
.sponsor-card:active {
  transform: scale(1.05); /* leggera scala su hover o tap */
}


/* Testo evidenziato */
.custom-text {
  color: #FCE000;
  font-family: 'Anton', serif;
}

@media (min-width: 992px) {
  .custom-form {
    width: 40%;
  }
}

.form-control-minimal {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  padding: 12px 0; 
  min-height: 80px;  
  color: #FFFFFF; /* opzionale, se hai sfondo scuro */
  font-size: 1rem;
  transition: border-color 0.3s ease;
  transition: border-bottom-color 0.3s ease;
}

.form-control-minimal::placeholder {
  color: #FFFFFF;
}

.form-control-minimal:focus {
  border-bottom: 1px solid #FCE000;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  color: #FFFFFF;
}

/* Footer */
footer {
  background-color: #1A1A1A;
  color: #DADADA;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}