html {
  background-color: #000;
}

body {
  background-color: #FFFFFF; /* Nero pieno per contrasto massimo */
  color: #000000;
}

.navbar {
  background-color: #000000; 
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand, .nav-link {
  color: #FFFFFF !important; /* Giallo di palette */
}

.nav-link:hover {
  color: #FCE000 !important;
}

.custom-container {
  background-color: #1A1A1A;
  height: calc(90vh - 70px);
  width: 100%;
}

.custom-wrapper {
  width: 70%;
  height: 60%;
  max-width: 1000px;
  margin-top: 2%;
  font-family: 'Montserrat', sans-serif;
}

/* Media query per schermi più larghi (fino a 992px) */
@media (max-width: 992px) {
  .custom-container {  /* Riduce la larghezza al 85% su schermi medi */
    height: 80%;  /* Imposta l'altezza al 55% */
  }
}

/* Media query per schermi più piccoli (fino a 768px) */
@media (max-width: 768px) {
  .custom-container {  /* Riduce la larghezza al 95% su schermi di tablet */
    height: calc(90vh - 40px);  /* Imposta l'altezza al 50% */
  }
}

/* Media query per schermi ancora più piccoli (fino a 480px) */
@media (max-width: 480px) {
  .custom-container { /* Imposta la larghezza al 100% su dispositivi mobili */
    height: calc(70vh - 30px);  /* Imposta l'altezza al 45% */
  }

  /* Modifica la dimensione del testo nel custom-container */
  .custom-container .lead {
      font-size: 1rem;  /* Riduce la dimensione del testo per dispositivi piccoli */
  }

  /* Modifica le dimensioni delle immagini nel custom-container */
  .custom-container img {
      width: 90px;  /* Limita la larghezza dell'immagine a 110px su dispositivi piccoli */
  }
}


.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}

.fade-in[style*="animation-delay"] {
  animation-delay: inherit;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

@media (max-width: 992px) {
  .video-wrapper {
      width: 75%;
      height: 70%;
      margin-top: 5%;
  }
}

@media (max-width: 768px) {
  .video-wrapper {
      width: 85%;
      height: 70%;
  }
}

@media (max-width: 480px) {
  .video-wrapper {
      width: 80%;
      height: 55%;
  }

  .video-wrapper .lead {
      font-size: 1rem;
  }

  .video-wrapper img {
      max-width: 80px;
  }
}

.angled-box-main {
  color: #FFFFFF;
  padding: 2rem;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  max-width: 900px;
  clip-path: polygon(0% 20%, 100% 20%, 90% 80%, 0% 80%);
}

.angled-box-right {
  padding: 0.5rem 1rem;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  width: 80%;
  margin: 0; 
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.angled-box-left {
  padding: 0.5rem 1rem;
  font-family: 'Anton', sans-serif;
  font-style: italic;
  width: 80%;
  margin-left: 20%;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
}

.custom-p {
  font-family: 'Montserrat';
  font-size: 14pt;
  margin-left: 2%;

  @media (min-width: 992px) {
    font-size: 16pt;
  }
}

.big-number h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin: 0;
}

/* Pulsante personalizzato */
.btn-custom {
  background-color: #000000;  /* Rosso energico per CTA */
  border: 2px solid #FCE000;
  color: #FCE000;
  transition: 0.3s;
}
.btn-custom:hover {
  background-color: #FCE000;
  color: #000000;
}

/* Titolo dinamico */
.custom-heading {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bold;
  color: #FFFFFF; /* Rosso di palette */
  text-shadow:
      2px 2px 4px rgba(0,0,0,0.7),
      -2px -2px 4px rgba(0,0,0,0.7);
  line-height: 1.1;
}

/* Testo evidenziato */
.custom-text {
  color: #FCE000;
}

/* Footer */
footer {
  background-color: #1A1A1A;
  color: #DADADA;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}